@{
    ViewData["Title"] = "Blog";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Soverance Blog
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <span class="color-1">Blog</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="blog-content ptb150 each-element">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                @foreach (var post in ViewBag.Pagination.Posts)
                {
                    @if (post.PostType == 1)
                    {
                        <article class="vertical-item format-continue-link fsize-0 clearfix">
                            <div class="item-left-img col-lg-4 col-md-4 col-sm-12 col-xs-12 equal-height">
                                <img src="@post.Slider1" alt="">
                            </div>
                            <div class="post-content col-lg-8 col-md-8 col-sm-12 col-xs-12 equal-height">
                                <div class="post-wrapper">
                                    <div class="table">
                                        <div class="table-row">
                                            <div class="table-cell valign-top">
                                                <div class="platform fsize-14 fweight-700 uppercase">
                                                    @post.Category.CategoryName
                                                </div>
                                            </div>
                                            <div class="table-cell valign-top text-right">
                                                <div class="fsize-14 fweight-700 uppercase">
                                                    @post.Date
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt15">
                                        <a asp-action="ViewPost" asp-route-slug="@post.Slug" class="post-title">
                                            <h5>@post.Title</h5>
                                        </a>
                                        <div class="read-more-wrap mt15">
                                            <div class="fsize-16 lheight-26" data-trim-text="136">
                                                @post.Description
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-bottom table">
                                    <div class="table-cell valign-middle">
                                        <i class="fa fa-user color-1 fsize-14" aria-hidden="true"></i>
                                        <span class="color-2 fsize-14 ml5">by @post.Author</span>
                                    </div>
                                    <div class="table-cell valign-middle text-right">
                                        <i class="fa fa-cube color-1 fsize-14" aria-hidden="true"></i>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <span class="color-2 fsize-14 ml5"><a asp-action="EditPost" asp-route-id="@post.PostId">Edit</a> | <a asp-action="DeletePost" asp-route-id="@post.PostId">Delete</a></span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </article>
                    }
                    @if (post.PostType == 2)
                    {
                        <article class="vertical-item format-video fsize-0 clearfix">
                            <div class="item-left-img col-lg-4 col-md-4 col-sm-12 col-xs-12 equal-height">
                                <video id="vid1" class="vjs-big-play-centered video-js vjs-default-skin vjs-16-9 equal-height" controls preload="auto" width="585" height="550"
                                       data-setup='{ "techOrder": ["youtube"], "sources": { "type": "video/youtube", "src": "@post.VideoUrl"}}'></video>
                            </div>
                            <div class="post-content col-lg-8 col-md-8 col-sm-12 col-xs-12 equal-height">
                                <div class="post-wrapper">
                                    <div class="table">
                                        <div class="table-row">
                                            <div class="table-cell valign-top">
                                                <div class="platform fsize-14 fweight-700 uppercase">
                                                    @post.Category.CategoryName
                                                </div>
                                            </div>
                                            <div class="table-cell valign-top text-right">
                                                <div class="fsize-14 fweight-700 uppercase">
                                                    @post.Date
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt15">
                                        <a asp-action="ViewPost" asp-route-slug="@post.Slug" class="post-title">
                                            <h5>@post.Title</h5>
                                        </a>
                                        <div class="fsize-16 lheight-26 mt15" data-trim="140">
                                            @post.Description
                                        </div>
                                    </div>
                                </div>
                                <div class="post-bottom table">
                                    <div class="table-cell valign-middle">
                                        <i class="fa fa-user color-1 fsize-14" aria-hidden="true"></i>
                                        <span class="color-2 fsize-14 ml5">by @post.Author</span>
                                    </div>
                                    <div class="table-cell valign-middle text-right">
                                        <i class="fa fa-cube color-1 fsize-14" aria-hidden="true"></i>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <span class="color-2 fsize-14 ml5"><a asp-action="EditPost" asp-route-id="@post.PostId">Edit</a> | <a asp-action="DeletePost" asp-route-id="@post.PostId">Delete</a></span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </article>
                    }
                    @if (post.PostType == 3)
                    {
                        <article class="vertical-item format-slider fsize-0 clearfix">
                            <div class="item-left-img col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="post-slider">
                                    <div>
                                        <img src="@post.Slider1" alt="" class="equal-height">
                                    </div>
                                    <div>
                                        <img src="@post.Slider2" alt="" class="equal-height">
                                    </div>
                                    <div>
                                        <img src="@post.Slider3" alt="" class="equal-height">
                                    </div>
                                </div>
                            </div>
                            <div class="post-content col-lg-8 col-md-8 col-sm-12 col-xs-12 equal-height">
                                <div class="post-wrapper">
                                    <div class="table">
                                        <div class="table-row">
                                            <div class="table-cell valign-top">
                                                <div class="platform fsize-14 fweight-700 uppercase">
                                                    @post.Category.CategoryName
                                                </div>
                                            </div>
                                            <div class="table-cell valign-top text-right">
                                                <div class="fsize-14 fweight-700 uppercase">
                                                    @post.Date
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt15">
                                        <a asp-action="ViewPost" asp-route-slug="@post.Slug" class="post-title">
                                            <h5>@post.Title</h5>
                                        </a>
                                        <div class="fsize-16 lheight-26 mt15">
                                            <div class="fsize-16 lheight-26 mt15" data-trim="140">
                                                @post.Description
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-bottom table">
                                    <div class="table-cell valign-middle">
                                        <i class="fa fa-user color-1 fsize-14" aria-hidden="true"></i>
                                        <span class="color-2 fsize-14 ml5">by @post.Author</span>
                                    </div>
                                    <div class="table-cell valign-middle text-right">
                                        <i class="fa fa-cube color-1 fsize-14" aria-hidden="true"></i>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <span class="color-2 fsize-14 ml5"><a asp-action="EditPost" asp-route-id="@post.PostId">Edit</a> | <a asp-action="DeletePost" asp-route-id="@post.PostId">Delete</a></span>
                                        }
                                    </div>
                                </div>
                            </div>
                        </article>
                    }
                }
                <div class="col-lg-12 text-center mt60">
                    <div class="pagination-page">
                        <a href="/blog/@ViewBag.PreviousPage" class="page-numbers prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                        <span class="page-numbers active">
                            @ViewBag.Pagination.CurrentPageIndex
                        </span>
                        @if (ViewBag.NextPage < ViewBag.Pagination.PageCount)
                        {
                            <a href="/blog/@ViewBag.NextPage" class="page-numbers">
                                @ViewBag.NextPage
                            </a>
                        }
                        <span class="page-numbers dots">
                            ...
                        </span>
                        <a href="/blog/@ViewBag.LastPage" class="page-numbers">
                            @ViewBag.Pagination.PageCount
                        </a>
                        <a href="/blog/@ViewBag.NextPage" class="page-numbers next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sidebar col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <div class="widget-bl subscribe-widget">
                    <h5 class="fsize-20 text-center">Sign up newsletter</h5>
                    <div class="widget-wrapper">
                        <form action="https://soverance.us11.list-manage.com/subscribe/post?u=0863a704838d203b8ed4cea75&amp;id=055ab64ac5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscribe-form" target="_blank" novalidate>
                            <input type="email" placeholder="Enter your Email address here" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0863a704838d203b8ed4cea75_055ab64ac5" tabindex="-1" value=""></div>
                            <button class="color-white" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="widget-bl twitter-widget">
                    <div class="widget-wrapper">
                        <a class="twitter-timeline" data-height="650" data-theme="dark" href="https://twitter.com/Soverance?ref_src=twsrc%5Etfw">Tweets by Soverance</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <p>
                        <a asp-action="CreateCategory" class="btn header-btn ml25 color-white hidden-sm hidden-xs">Create New Category</a>
                    </p>
                }
                <div class="widget-bl categories-widget">
                    <h5 class="fsize-20 text-center">Categories</h5>
                    <div class="widget-wrapper">
                        <table class="table list-1">
                            <tbody>
                                @foreach (var item in ViewBag.AllCategories)
                                {
                                <tr>
                                    <td>
                                        <a asp-action="ViewCategory" asp-route-id="@item.CategoryId" class="latest-item">
                                            <div class="table table-nobackground">
                                                <div class="table-row">
                                                    <div class="latest-title table-cell valign-middle pl20">
                                                        <div class="title-top font-agency fweight-700 uppercase color-white">
                                                            @item.CategoryName
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <td>
                                            <a asp-action="EditCategory" asp-route-id="@item.CategoryId">Edit</a> |
                                            <a asp-action="DeleteCategory" asp-route-id="@item.CategoryId">Delete</a>
                                        </td>
                                    }                                    
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <p>
                        <a asp-action="CreatePost" class="btn header-btn ml25 color-white hidden-sm hidden-xs">Create New Post</a>
                    </p>
                }
                <div class="widget-bl latest-widget">
                    <h5 class="fsize-20 text-center">Latest posts</h5>
                    <div class="widget-wrapper">
                        <table class="table list-1">
                            <tbody>
                                @foreach (var post in ViewBag.LatestFive)
                                {
                                <tr>
                                    <td>
                                        <a asp-action="ViewPost" asp-route-slug="@post.Slug" class="latest-item">
                                            <div class="table table-nobackground">
                                                <div class="table-row">
                                                    <div class="latest-img table-cell valign-middle">
                                                        <img src="@post.Slider1" alt="">
                                                    </div>
                                                    <div class="latest-title table-cell valign-middle pl20">
                                                        <div class="title-top font-agency fweight-700 uppercase color-white">
                                                            @post.Title
                                                        </div>
                                                        <div class="color-2 uppercase fsize-12 fweight-700">
                                                            @post.Date
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <td>
                                            <a asp-action="EditPost" asp-route-id="@post.PostId">Edit</a> |
                                            <a asp-action="DeletePost" asp-route-id="@post.PostId">Delete</a>
                                        </td>
                                    }                                    
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="widget-bl search-widget">
                    <h5 class="fsize-20 text-center">Search on website</h5>
                    <div class="widget-wrapper">
                        <form class="search-form" action="#">
                            <input type="text" placeholder="Search here...">
                            <button class="color-white">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->
