@model IEnumerable<soverance.com.Models.Blogs>

@{
    ViewData["Title"] = "Blog";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Soverance Blog
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a href="#">Blog</a> /
                <span class="color-1">Blog</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="blog-content ptb150 each-element">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                <article class="vertical-item format-thumb fsize-0 clearfix">
                    <div class="item-left-img col-lg-4 col-md-4 col-sm-12 col-xs-12 equal-height">
                        <img src="~/images/blog/blog-img-1.jpg" alt="">
                        <div class="thumb-icon">
                            <i class="fa fa-thumb-tack color-white fsize-14" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="post-content col-lg-8 col-md-8 col-sm-12 col-xs-12 equal-height">
                        <div class="post-wrapper">
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell valign-top">
                                        <div class="platform fsize-14 fweight-700 uppercase">
                                            Xbox
                                        </div>
                                    </div>
                                    <div class="table-cell valign-top text-right">
                                        <div class="fsize-14 fweight-700 uppercase">
                                            Mar 14, 2018
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt15">
                                <a href="post.html" class="post-title">
                                    <h5>Sample Post Format With icon to fix</h5>
                                </a>
                                <div class="fsize-16 lheight-26 mt15" data-trim="140">
                                    Turducken cupim hamburger beef ribs picanha, drumstick buffalo tri-tip cow. Turducken prosciutto shank pork chop frankfurter shankle.
                                </div>
                            </div>
                        </div>
                        <div class="post-bottom table">
                            <div class="table-cell valign-middle">
                                <i class="fa fa-user color-1 fsize-14" aria-hidden="true"></i>
                                <span class="color-2 fsize-14 ml5">by Admin</span>
                            </div>
                            <div class="table-cell valign-middle text-right">
                                <i class="fa fa-comment color-1 fsize-14" aria-hidden="true"></i>
                                <span class="color-2 fsize-14 ml5">452</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="vertical-item format-continue-link fsize-0 clearfix">
                    <div class="item-left-img col-lg-4 col-md-4 col-sm-12 col-xs-12 equal-height">
                        <img src="~/images/blog/blog-img-2.jpg" alt="">
                    </div>
                    <div class="post-content col-lg-8 col-md-8 col-sm-12 col-xs-12 equal-height">
                        <div class="post-wrapper">
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell valign-top">
                                        <div class="platform fsize-14 fweight-700 uppercase">
                                            Ps 3
                                        </div>
                                    </div>
                                    <div class="table-cell valign-top text-right">
                                        <div class="fsize-14 fweight-700 uppercase">
                                            Mar 18, 2018
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt15">
                                <a href="post.html" class="post-title">
                                    <h5>Sample Post With «Continue Reading» Link</h5>
                                </a>
                                <div class="read-more-wrap mt15">
                                    <div class="fsize-16 lheight-26" data-trim-text="136">
                                        Tongue ham salami shankle shoulder swine. Doner jowl buffalo filet mignon pastrami strip steak, frankfurter alcatra shoulder burgdoggen.
                                        porchetta. Capicola leberkas biltong pork belly chuck. Kielbasa pig pork chop venison tail buffalo chuck shank t-bone flank tongue ground round pork loin. Shank bacon tail, pork loin beef jerky porchetta. Meatloaf venison ham corned beef andouille frankfurter pastrami.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-bottom table">
                            <div class="table-cell valign-middle">
                                <i class="fa fa-user color-1 fsize-14" aria-hidden="true"></i>
                                <span class="color-2 fsize-14 ml5">by Admin</span>
                            </div>
                            <div class="table-cell valign-middle text-right">
                                <i class="fa fa-comment color-1 fsize-14" aria-hidden="true"></i>
                                <span class="color-2 fsize-14 ml5">328</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="vertical-item format-status fsize-0 clearfix">
                    <div class="author-status">
                        <img src="~/images/blog/status-author.jpg" alt="">
                    </div>
                    <div class="status-wrapper text-center">
                        <div class="post-content">
                            <div class="platform fsize-14 fweight-700 uppercase">
                                Status
                            </div>
                            <div class="fsize-14 fweight-700 uppercase mt10">
                                Mar 19, 2018
                            </div>
                            <a href="post.html" class="post-title mt20">
                                <h5>Sample Post Format: Status</h5>
                            </a>
                        </div>
                    </div>
                </article>
                <article class="vertical-item format-video fsize-0 clearfix">
                    <div class="item-left-img col-lg-4 col-md-4 col-sm-12 col-xs-12 equal-height">
                        <video id="vid1" class="vjs-big-play-centered video-js vjs-default-skin vjs-16-9 equal-height" controls preload="auto" width="585" height="550" poster="~/images/585x550.jpg"
                               data-setup='{ "techOrder": ["youtube"], "sources": { "type": "video/youtube", "src": "https://www.youtube.com/watch?v=sIoE4AVOPXY"}}'></video>
                    </div>
                    <div class="post-content col-lg-8 col-md-8 col-sm-12 col-xs-12 equal-height">
                        <div class="post-wrapper">
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell valign-top">
                                        <div class="platform fsize-14 fweight-700 uppercase">
                                            Games
                                        </div>
                                    </div>
                                    <div class="table-cell valign-top text-right">
                                        <div class="fsize-14 fweight-700 uppercase">
                                            Mar 20, 2018
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt15">
                                <a href="post.html" class="post-title">
                                    <h5>Sample Post With Video</h5>
                                </a>
                                <div class="fsize-16 lheight-26 mt15" data-trim="140">
                                    Tongue picanha cow tri-tip, bacon sausage meatloaf kielbasa prosciutto frankfurter cupim filet mignon boudin. Leberkas meatball andouille.
                                </div>
                            </div>
                        </div>
                        <div class="post-bottom table">
                            <div class="table-cell valign-middle">
                                <i class="fa fa-user color-1 fsize-14" aria-hidden="true"></i>
                                <span class="color-2 fsize-14 ml5">by Admin</span>
                            </div>
                            <div class="table-cell valign-middle text-right">
                                <i class="fa fa-comment color-1 fsize-14" aria-hidden="true"></i>
                                <span class="color-2 fsize-14 ml5">1263</span>
                            </div>
                        </div>
                    </div>
                </article>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Url)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Url)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.BlogsId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.BlogsId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.BlogsId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <article class="vertical-item format-slider fsize-0 clearfix">
                    <div class="item-left-img col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="post-slider">
                            <div>
                                <img src="~/images/blog/blog-img-1.jpg" alt="" class="equal-height">
                            </div>
                            <div>
                                <img src="~/images/blog/blog-img-2.jpg" alt="" class="equal-height">
                            </div>
                            <div>
                                <img src="~/images/blog/blog-img-3.jpg" alt="" class="equal-height">
                            </div>
                        </div>
                    </div>
                    <div class="post-content col-lg-8 col-md-8 col-sm-12 col-xs-12 equal-height">
                        <div class="post-wrapper">
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell valign-top">
                                        <div class="platform fsize-14 fweight-700 uppercase">
                                            Games
                                        </div>
                                    </div>
                                    <div class="table-cell valign-top text-right">
                                        <div class="fsize-14 fweight-700 uppercase">
                                            Mar 21, 2018
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt15">
                                <a href="post.html" class="post-title">
                                    <h5>Sample Post With Carousel</h5>
                                </a>
                                <div class="fsize-16 lheight-26 mt15">
                                    <ul class="list-1">
                                        <li class="color5">Buffalo drumstick doner short;</li>
                                        <li class="color5">Loin pork chop strip steak ground round; </li>
                                        <li class="color5">Short ribs kevin tri-tip burgdoggen.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="post-bottom table">
                            <div class="table-cell valign-middle">
                                <i class="fa fa-user color-1 fsize-14" aria-hidden="true"></i>
                                <span class="color-2 fsize-14 ml5">by Admin</span>
                            </div>
                            <div class="table-cell valign-middle text-right">
                                <i class="fa fa-comment color-1 fsize-14" aria-hidden="true"></i>
                                <span class="color-2 fsize-14 ml5">452</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="vertical-item format-link fsize-0 clearfix">
                    <div class="item-left-img col-lg-4 col-md-4 col-sm-12 col-xs-12 equal-height">
                        <img src="~/images/blog/blog-img-5.jpg" alt="">
                    </div>
                    <div class="post-content col-lg-8 col-md-8 col-sm-12 col-xs-12 equal-height">
                        <div class="post-wrapper">
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell valign-top">
                                        <div class="platform fsize-14 fweight-700 uppercase">
                                            Ps 3
                                        </div>
                                    </div>
                                    <div class="table-cell valign-top text-right">
                                        <div class="fsize-14 fweight-700 uppercase">
                                            Mar 22, 2018
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt15">
                                <a href="post.html" class="post-title">
                                    <h5>Sample Post Format: Link</h5>
                                </a>
                                <div class="fsize-16 lheight-26 mt15" data-trim="140">
                                    Tongue ham salami shankle shoulder swine. <br />
                                    <a href="https://market.envato.com/" class="link">https://market.envato.com/</a>
                                </div>
                            </div>
                        </div>
                        <div class="post-bottom table">
                            <div class="table-cell valign-middle">
                                <i class="fa fa-user color-1 fsize-14" aria-hidden="true"></i>
                                <span class="color-2 fsize-14 ml5">by Admin</span>
                            </div>
                            <div class="table-cell valign-middle text-right">
                                <i class="fa fa-comment color-1 fsize-14" aria-hidden="true"></i>
                                <span class="color-2 fsize-14 ml5">452</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="vertical-item format-quote fsize-0 clearfix">
                    <blockquote class="p40 text-center">
                        <div class="table">
                            <div class="table-row">
                                <div class="table-cell valign-top text-left">
                                    <div class="platform fsize-14 fweight-700 uppercase">
                                        Quote
                                    </div>
                                </div>
                                <div class="table-cell valign-top text-right">
                                    <div class="fsize-14 fweight-700 uppercase">
                                        Mar 23, 2018
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-container fsize-18 italic ptb30">
                            «Fatback landjaeger prosciutto jerky ham. Salami cupim leberkas.
                            Kevin bacon shankle tenderloin ground round. Spare ribs pork belly cupim.
                            Shoulder short ribs jowl pork chop. Chuck ham t-bone.»
                        </div>
                        <div class="table mb0 pb30">
                            <div class="table-row">
                                <div class="table-cell valign-middle">
                                    <a href="post.html" class="post-title fsize-24 fweight-700 font-agency color-white">
                                        William Castro
                                    </a>
                                    <div class="fsize-14 fweight-700 uppercase color-1">
                                        Gamer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </blockquote>
                </article>
                <article class="vertical-item format-chat fsize-0 clearfix">
                    <div class="item-left-img col-lg-4 col-md-4 col-sm-12 col-xs-12 equal-height">
                        <img src="~/images/blog/blog-img-6.jpg" alt="">
                    </div>
                    <div class="post-content col-lg-8 col-md-8 col-sm-12 col-xs-12 equal-height">
                        <div class="post-wrapper">
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell valign-top">
                                        <div class="platform fsize-14 fweight-700 uppercase">
                                            Chat
                                        </div>
                                    </div>
                                    <div class="table-cell valign-top text-right">
                                        <div class="fsize-14 fweight-700 uppercase">
                                            Mar 24, 2018
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt15">
                                <a href="post.html" class="post-title">
                                    <h5>Sample Post Format: Chat</h5>
                                </a>
                                <div class="chat-bl fsize-16 lheight-26 mt15">
                                    <p><span class="color-white fweight-500">Britany:</span> Tongue ham salami shankle shoulder swine.</p>
                                    <p><span class="color-white fweight-500">Tom: Doner</span> jowl buffalo filet mignon pastrami strip.</p>
                                    <p><span class="color-white fweight-500">Britany:</span> Capicola leberkas biltong pork belly chuck.</p>
                                </div>
                            </div>
                        </div>
                        <div class="post-bottom table">
                            <div class="table-cell valign-middle">
                                <i class="fa fa-user color-1 fsize-14" aria-hidden="true"></i>
                                <span class="color-2 fsize-14 ml5">by Admin</span>
                            </div>
                            <div class="table-cell valign-middle text-right">
                                <i class="fa fa-comment color-1 fsize-14" aria-hidden="true"></i>
                                <span class="color-2 fsize-14 ml5">243</span>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="vertical-item format-thumb fsize-0 clearfix">
                    <div class="item-left-img col-lg-4 col-md-4 col-sm-12 col-xs-12 equal-height">
                        <img src="~/images/blog/blog-img-7.jpg" alt="">
                    </div>
                    <div class="post-content col-lg-8 col-md-8 col-sm-12 col-xs-12 equal-height">
                        <div class="post-wrapper">
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell valign-top">
                                        <div class="platform fsize-14 fweight-700 uppercase">
                                            Games
                                        </div>
                                    </div>
                                    <div class="table-cell valign-top text-right">
                                        <div class="fsize-14 fweight-700 uppercase">
                                            Mar 26, 2018
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt15">
                                <a href="post.html" class="post-title">
                                    <h5>Sample Post Format: Aside</h5>
                                </a>
                                <div class="fsize-16 lheight-26 mt15" data-trim="140">
                                    Sirloin filet mignon bresaola kevin drumstick buffalo bacon jerky short loin pork belly pancetta chicken ball tip kielbasa corned beef.
                                </div>
                            </div>
                        </div>
                        <div class="post-bottom table">
                            <div class="table-cell valign-middle">
                                <i class="fa fa-user color-1 fsize-14" aria-hidden="true"></i>
                                <span class="color-2 fsize-14 ml5">by Admin</span>
                            </div>
                            <div class="table-cell valign-middle text-right">
                                <i class="fa fa-comment color-1 fsize-14" aria-hidden="true"></i>
                                <span class="color-2 fsize-14 ml5">452</span>
                            </div>
                        </div>
                    </div>
                </article>
                <div class="col-lg-12 text-center mt60">
                    <div class="pagination-page">
                        <a href="#" class="page-numbers prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                        <span class="page-numbers active">
                            1
                        </span>
                        <a href="#" class="page-numbers">
                            2
                        </a>
                        <span class="page-numbers dots">
                            ...
                        </span>
                        <a href="#" class="page-numbers">
                            12
                        </a>
                        <a href="#" class="page-numbers next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sidebar col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <div class="widget-bl insta-widget">
                    <h5 class="fsize-20 text-center">Instagram Widget</h5>
                    <div class="widget-wrapper clearfix">
                        <a href="#" class="instagram-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <img src="~/images/blog/insta-img-1.jpg" alt="">
                        </a>
                        <a href="#" class="instagram-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <img src="~/images/blog/insta-img-2.jpg" alt="">
                        </a>
                        <a href="#" class="instagram-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <img src="~/images/blog/insta-img-3.jpg" alt="">
                        </a>
                        <a href="#" class="instagram-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <img src="~/images/blog/insta-img-4.jpg" alt="">
                        </a>
                        <a href="#" class="instagram-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <img src="~/images/blog/insta-img-5.jpg" alt="">
                        </a>
                        <a href="#" class="instagram-item col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <img src="~/images/blog/insta-img-6.jpg" alt="">
                        </a>
                    </div>
                </div>
                <p>
                    <a asp-action="Create">Create New Post</a>
                </p>
                <div class="widget-bl subscribe-widget">
                    <h5 class="fsize-20 text-center">Sign up newsletter</h5>
                    <div class="widget-wrapper">
                        <form action="https://soverance.us11.list-manage.com/subscribe/post?u=0863a704838d203b8ed4cea75&amp;id=055ab64ac5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscribe-form" target="_blank" novalidate>
                            <input type="email" placeholder="Enter your Email address here" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0863a704838d203b8ed4cea75_055ab64ac5" tabindex="-1" value=""></div>
                            <button class="color-white" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </button>
                        </form>
                        <div class="text-left lheight-26 mt20">
                            Get the latest updates from Soverance Studios.
                        </div>
                    </div>
                </div>
                <div class="widget-bl categories-widget">
                    <h5 class="fsize-20 text-center">Categories</h5>
                    <div class="widget-wrapper">
                        <ul class="list-1">
                            <li class="color1">
                                <a href="#">
                                    <span>All categories</span>
                                    <span class="float-right">/375</span>
                                </a>
                            </li>
                            <li class="color1">
                                <a href="#">
                                    <span>Pancetta landjeager</span>
                                    <span class="float-right">/75</span>
                                </a>
                            </li>
                            <li class="color1">
                                <a href="#">
                                    <span>Alcatra ground</span>
                                    <span class="float-right">/142</span>
                                </a>
                            </li>
                            <li class="color1">
                                <a href="#">
                                    <span>Round pork turkey</span>
                                    <span class="float-right">/269</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget-bl twitter-widget">
                    <h5 class="fsize-20 text-center">Twitter</h5>
                    <div class="widget-wrapper">
                        <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/Soverance" data-widget-id="347887250270470144">Tweets by @@Soverance</a>
                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                    </div>
                </div>
                <div class="widget-bl latest-widget">
                    <h5 class="fsize-20 text-center">Latest posts</h5>
                    <div class="widget-wrapper">
                        <a href="post.html" class="latest-item">
                            <div class="table">
                                <div class="table-row">
                                    <div class="latest-img table-cell valign-middle">
                                        <img src="~/images/blog/latest-img-1.jpg" alt="">
                                    </div>
                                    <div class="latest-title table-cell valign-middle pl20">
                                        <div class="title-top font-agency fweight-700 uppercase color-white">
                                            Pancetta cow filet mignon shoulder bacon sausage meatloaf
                                        </div>
                                        <div class="color-2 uppercase fsize-12 fweight-700">
                                            Mar 20, 2018
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="post.html" class="latest-item">
                            <div class="table">
                                <div class="table-row">
                                    <div class="latest-img table-cell valign-middle">
                                        <img src="~/images/blog/latest-img-2.jpg" alt="">
                                    </div>
                                    <div class="latest-title table-cell valign-middle pl20">
                                        <div class="title-top font-agency fweight-700 uppercase color-white">
                                            Alcatra rump tenderloin, capicola kielbasa
                                        </div>
                                        <div class="color-2 uppercase fsize-12 fweight-700">
                                            Mar 21, 2018
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="post.html" class="latest-item">
                            <div class="table">
                                <div class="table-row">
                                    <div class="latest-img table-cell valign-middle">
                                        <img src="~/images/blog/latest-img-3.jpg" alt="">
                                    </div>
                                    <div class="latest-title table-cell valign-middle pl20">
                                        <div class="title-top font-agency fweight-700 uppercase color-white">
                                            Porchetta venison pork loin tri-tip shank spare ribs
                                        </div>
                                        <div class="color-2 uppercase fsize-12 fweight-700">
                                            Mar 22, 2018
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="widget-bl calendar-widget">
                    <div class="widget-wrapper">
                        <div class="calendar-bl">
                            <div class="calendar-container"></div>
                        </div>
                    </div>
                </div>
                <div class="widget-bl archive-widget">
                    <h5 class="fsize-20 text-center">Archives</h5>
                    <div class="widget-wrapper">
                        <ul class="list-1">
                            <li class="color1">
                                <a href="#">
                                    <span>July 2018</span>
                                    <span class="float-right">/375</span>
                                </a>
                            </li>
                            <li class="color1">
                                <a href="#">
                                    <span>June 2018</span>
                                    <span class="float-right">/375</span>
                                </a>
                            </li>
                            <li class="color1">
                                <a href="#">
                                    <span>May 2018</span>
                                    <span class="float-right">/375</span>
                                </a>
                            </li>
                            <li class="color1">
                                <a href="#">
                                    <span>April 2018</span>
                                    <span class="float-right">/375</span>
                                </a>
                            </li>
                            <li class="color1">
                                <a href="#">
                                    <span>March 2018</span>
                                    <span class="float-right">/375</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget-bl search-widget">
                    <h5 class="fsize-20 text-center">Search on website</h5>
                    <div class="widget-wrapper">
                        <form class="search-form" action="#">
                            <input type="text" placeholder="Search here...">
                            <button class="color-white">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->
