@using System.Net
@using System.Web.Mvc.Html
@model soverance.com.Models.Post

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                @Html.DisplayFor(model => model.Title)
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a asp-area="" asp-controller="Blog" asp-action="Index" asp-route-id="">Blog</a> /
                <span class="color-1">@Html.DisplayFor(model => model.Title)</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="ptb150">
    <div class="container">
        <div class="row">
            <div class="full-col col-lg-10 col-md-10 col-md-push-1">
                <div class="posts-nav">
                    <div class="row">
                        <div class="col-md-6">
                            <a asp-action="ViewPost" asp-route-slug="@ViewBag.SurroundingPosts[0].Slug" class="nav_prev nav-btn td-none" style="background-image: url(@ViewBag.SurroundingPosts[0].Slider2);">
                                <div class="nav_content">
                                    <div class="fsize-14 fweight-700 uppercase color-1">Previous Post</div>
                                    <div class="nav-title font-agency fsize-24 fweight-700 color-white uppercase">@ViewBag.SurroundingPosts[0].Title</div>
                                </div>
                            </a>
                        </div>
                        @if (ViewBag.SurroundingPosts.Count > 2)
                        {
                            <div class="col-md-6 text-right">
                                <a asp-action="ViewPost" asp-route-slug="@ViewBag.SurroundingPosts[2].Slug" class="nav_next nav-btn td-none" style="background-image: url(@ViewBag.SurroundingPosts[2].Slider1);">
                                    <div class="nav_content">
                                        <div class="fsize-14 fweight-700 uppercase color-1">Next Post</div>
                                        <div class="nav-title font-agency fsize-24 fweight-700 color-white uppercase">@ViewBag.SurroundingPosts[2].Title</div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <div class="post-content mt60">
                    <div class="post-bottom background-4">
                        <div class="p60">
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell valign-top">
                                        <div class="fsize-14 fweight-700 uppercase color-1">
                                            @Html.DisplayFor(model => model.Category.CategoryName)
                                        </div>
                                    </div>
                                    <div class="table-cell valign-top text-right">
                                        <div class="fsize-14 fweight-700 uppercase">
                                            @Html.DisplayFor(model => model.Date)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- START DATABASE BLOG CONTENT -->
                            @Html.Raw(@WebUtility.HtmlDecode(Model.Content))
                            <!-- END DATABASE BLOG CONTENT -->

                            @if (Model.PlaylistId != null)
                            {
                                @await Component.InvokeAsync("VideoPlaylist", new { PlaylistId = Model.PlaylistId })
                            }
                        </div>
                        <div class="bottom-info-bl">
                            <div class="table">
                                <div class="table-cell valign-middle">
                                    <i class="fa fa-user color-6 fsize-14" aria-hidden="true"></i>
                                    <span class="color-2 fsize-14 ml5">by @Html.DisplayFor(model => model.Author)</span>
                                </div>
                                <div class="table-cell valign-middle text-right">                                    
                                    <span class="color-2 fsize-14 ml5">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                        <p>
                                            <i class="fa fa-cube color-6 fsize-14" aria-hidden="true"></i>
                                            <a asp-action="EditPost" asp-controller="Blog" asp-route-id="@Model.PostId">Edit</a> |
                                            <a asp-action="DeletePost" asp-controller="Blog" asp-route-id="@Model.PostId">Delete</a>
                                        </p>
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <partial name="_GamePreviewInsert" />
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->
