@using System.Net
@model soverance.com.Models.Post

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
}

<!-- PAGE NAME START -->
<section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                @Html.DisplayFor(model => model.Title)
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a asp-area="" asp-controller="Blog" asp-action="Index">Blog</a> /
                <span class="color-1">@Html.DisplayFor(model => model.Title)</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="ptb150">
    <div class="container">
        <div class="row">
            <div class="full-col col-lg-10 col-md-10 col-md-push-1">
                <div class="posts-nav">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="#" class="nav_prev nav-btn td-none" style="background-image: url('/images/blog/blog-img-1.jpg');">
                                <div class="nav_content">
                                    <div class="fsize-14 fweight-700 uppercase color-1">Previous Post</div>
                                    <div class="nav-title font-agency fsize-24 fweight-700 color-white uppercase">Shirloin leberkas pig, rump ham hock tail shank burgdogen</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="#" class="nav_next nav-btn td-none" style="background-image: url('/images/blog/blog-img-2.jpg');">
                                <div class="nav_content">
                                    <div class="fsize-14 fweight-700 uppercase color-1">Next Post</div>
                                    <div class="nav-title font-agency fsize-24 fweight-700 color-white uppercase">Meatlof strip steak ball tip venison prosciuto shankle</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="post-content mt60">
                    <div class="post-image">
                        <img src="~/images/post/post-full.jpg" alt="">
                    </div>
                    <div class="post-bottom background-4">
                        <div class="p60">
                            <div class="table">
                                <div class="table-row">
                                    <div class="table-cell valign-top">
                                        <div class="fsize-14 fweight-700 uppercase color-1">
                                            @Html.DisplayFor(model => model.CategoryId)
                                        </div>
                                    </div>
                                    <div class="table-cell valign-top text-right">
                                        <div class="fsize-14 fweight-700 uppercase">
                                            @Html.DisplayFor(model => model.Date)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- START DATABASE BLOG CONTENT -->
                            @Html.Raw(@WebUtility.HtmlDecode(Model.Content))
                            <!-- END DATABASE BLOG CONTENT -->
                        </div>
                        <div class="bottom-info-bl">
                            <div class="table">
                                <div class="table-cell valign-middle">
                                    <i class="fa fa-user color-6 fsize-14" aria-hidden="true"></i>
                                    <span class="color-2 fsize-14 ml5">by @Html.DisplayFor(model => model.Author)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt60 wow fadeInLeft">
                    <div class="related-post">
                        <div class="related-item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <a href="post.html" class="related-wrapper">
                                <div class="related-img">
                                    <img src="~/images/post/related-1.jpg" alt="">
                                </div>
                                <div class="related-title">
                                    <div class="font-agency fsize-24 fweight-700 color-white uppercase">
                                        Alcatra venison salsmi
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="related-item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <a href="post.html" class="related-wrapper">
                                <div class="related-img">
                                    <img src="~/images/post/related-2.jpg" alt="">
                                </div>
                                <div class="related-title">
                                    <div class="font-agency fsize-24 fweight-700 color-white uppercase">
                                        Shoulder meatbal
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="related-item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <a href="post.html" class="related-wrapper">
                                <div class="related-img">
                                    <img src="~/images/post/related-3.jpg" alt="">
                                </div>
                                <div class="related-title">
                                    <div class="font-agency fsize-24 fweight-700 color-white uppercase">
                                        Sousage pork chuck
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->
