@{
    ViewData["Title"] = "Video Playlist Component";
}

<!-- SECTION START -->
<section>
    <div class="row">
        <div class="col-lg-12 st-tabs tabs mt70">
            <div class="tabs-nav">
                <ul class="list-inline nav nav-tabs">
                    <li class="active col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <a href="#stream-2" data-toggle="tab">
                            <div class="tab-title">
                                YouTube Playlist
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content stream-bl relative">
                <div class="tab-pane fade active in competition text-left clearfix" id="stream-2">
                    <div class="left-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="video-bl">
                            <video id="LatestVideo" class="vjs-big-play-centered video-js vjs-default-skin vjs-16-9 game-full-img" controls preload="auto"
                                   data-setup='{ "techOrder": ["youtube"], "sources": { "type": "video/youtube", "src": "@ViewBag.ShowcaseVideo.VideoWatchLink"}}'></video>
                            <div class="video-bottom">
                                <div class="video-title">
                                    @ViewBag.ShowcaseVideo.Title
                                </div>
                                <div class="mt15">
                                    <div class="inline-block valign-middle color-white ml15">
                                        @ViewBag.ShowcaseVideo.ViewCount views
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-col col-lg-6 col-md-6 col-sm-12 col-xs-12 equal-height">
                        @foreach (var video in ViewBag.Playlist)
                        {
                            <div class="item-g">
                                <div class="img-com inline-block valign-middle equal-height">
                                    <img src="@video.ImageUrl" alt="" height="80" width="80">
                                </div>
                                <div class="info-bl inline-block valign-middle ml25">
                                    <a href="@video.VideoWatchLink" class="fsize-24 fweight-700 font-agency uppercase color-white" data-trim="35">@video.Title</a>
                                    <div>@video.ViewCount views</div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->  