@{
    ViewData["Title"] = "Endless Reach VR";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" style="background-image: url(../images/portfolio/ervr/page-name.jpg)" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Endless Reach VR
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a href="#">Studio</a> /
                <a asp-area="" asp-controller="Home" asp-action="Portfolio">Portfolio</a> /
                <span class="color-1">Endless Reach VR</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="ptb150">
    <div class="container">
        <div class="row">
            <div class="top-bl">
                <div class="game-img-slider bg-arrow">
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ervr/1.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ervr/small-1.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ervr/2.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ervr/small-2.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ervr/3.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ervr/small-3.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ervr/4.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ervr/small-4.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ervr/5.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ervr/small-5.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ervr/6.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ervr/small-6.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ervr/7.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ervr/small-7.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ervr/8.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ervr/small-8.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ervr/9.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ervr/small-9.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ervr/10.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ervr/small-10.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ervr/11.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ervr/small-11.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/ervr/12.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/ervr/small-12.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt80">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb30">
                <div class="tab-head table uppercase fsize-14 fweight-700">
                    <div class="table-cell valign-middle ws-20 color-1">
                        Hardcore VR Shmup
                    </div>
                    <div class="table-cell valign-middle text-right">
                        Released Aug 3, 2014
                    </div>
                </div>
                <br />
                <div class="image-wrapper">
                    <img src="~/images/logos/endlessreachmobile.png" alt="" class="img-responsive center-block">
                </div>
                <div class="mt50 lheight-26 fweight-300">
                    <p>
                        Endless Reach is a hardcore shoot ‘em up that puts you in the shoes of a lone space drone pilot,
                        laying claim to the uncharted galaxy known as the Reach.
                    </p>
                    <p>
                        Send your starfighter drone out into the unknown,
                        and use it to battle your way through the alien hordes and make the regions safe for colonization.
                        The future of humanity depends on you!
                    </p>
                    <p>
                        Originally built for mobile and then later redesigned for virtual reality devices, this shmup provided a unique vision of what arcade space combat could look like in VR.
                    </p>
                    <p>
                        This prototype was developed with Unity 4 using the <i>Endless Reach</i> mobile game as a starting point. It used some of the earliest public Oculus SDKs (<i>starting with SDK 0.2 for Rift DK1</i>), and was one of the first 100 titles available on the now-defunct Oculus Share.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb30">
                <div class="default-tabs">
                    <div class="image-bl">
                        <video id="ervr" class="vjs-big-play-centered video-js vjs-default-skin vjs-16-9 game-full-img" controls preload="auto" width="570" height="450"
                               data-setup='{ "techOrder": ["youtube"], "sources": { "type": "video/youtube", "src": "https://www.youtube.com/watch?v=vMxKwNTE3Ag"}}'></video>
                    </div>
                </div>
            </div>
            <div class="widget-wrapper">
                <br />
                <table class="table list-1">
                    <tbody>
                        <tr>
                            <td>
                                <div class="table table-nobackground">
                                    <div class="table-row">
                                        <div class="latest-title table-cell valign-middle text-center pl20">
                                            <div class="title-top font-agency fweight-700 uppercase color-white">
                                                <i class="fa fa-shield fsize-80 fweight-400 color-6"></i>
                                                <p>Intense Combat</p>
                                            </div>
                                            <p>Your Starfighter is equipped with powerful weapons, including blasters, missles, and a boost feature. Collect powerups to deal more damage, and use head tracking to lock-on homing missles.</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="table table-nobackground">
                                    <div class="table-row">
                                        <div class="latest-title table-cell valign-middle text-center pl20">
                                            <div class="title-top font-agency fweight-700 uppercase color-white">
                                                <i class="fa fa-puzzle-piece fsize-80 fweight-400 color-6"></i>
                                                <p>Devastating Overloads</p>
                                            </div>
                                            <p>Upgrade your cannon too much and you may find yourself overloading with power - time the release of this energy just right and you can destroy everything in range. Miss the timing, and your ship explodes.</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="table table-nobackground">
                                    <div class="table-row">
                                        <div class="latest-title table-cell valign-middle text-center pl20">
                                            <div class="title-top font-agency fweight-700 uppercase color-white">
                                                <i class="fa fa-gamepad fsize-80 fweight-400 color-6"></i>
                                                <p>Online Leaderboards</p>
                                            </div>
                                            <p>Compete with other players from around the globe to see who can get the highest score on each of the ten levels.</p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 st-tabs tabs mt70">
                <div class="tabs-nav">
                    <ul class="list-inline nav nav-tabs">
                        <li class="active col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <a href="#stream-2" data-toggle="tab">
                                <div class="tab-title">
                                    Endless Reach VR YouTube Playlist
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content stream-bl relative">
                    <div class="tab-pane fade active in competition text-left clearfix" id="stream-2">
                        <div class="left-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="video-bl equal-height">
                                <video id="LatestVideo" class="vjs-big-play-centered video-js vjs-default-skin vjs-16-9 game-full-img" controls preload="auto"
                                       data-setup='{ "techOrder": ["youtube"], "sources": { "type": "video/youtube", "src": "@ViewBag.ShowcaseVideo.VideoWatchLink"}}'></video>
                                <div class="video-bottom">
                                    <div class="video-title">
                                        @ViewBag.ShowcaseVideo.Title
                                    </div>
                                    <div class="mt15">
                                        <div class="inline-block valign-middle color-white ml15">
                                            @ViewBag.ShowcaseVideo.ViewCount views
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-col col-lg-6 col-md-6 col-sm-12 col-xs-12 equal-height">
                            @foreach (var video in ViewBag.ERVRPlaylist)
                            {
                                <div class="item-g">
                                    <div class="img-com inline-block valign-middle equal-height">
                                        <img src="@video.ImageUrl" alt="" height="80" width="80">
                                    </div>
                                    <div class="info-bl inline-block valign-middle ml25">
                                        <a href="@video.VideoWatchLink" class="fsize-24 fweight-700 font-agency uppercase color-white" data-trim="35">@video.Title</a>
                                        <div>@video.ViewCount views</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->
