@{
    ViewData["Title"] = "Echosphere";
}

<!-- PAGE NAME START -->
<section class="page-name parallax" style="background-image: url(../images/portfolio/echosphere/page-title.jpg)" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
    <div class="container">
        <div class="row">
            <h1 class="page-title">
                Echosphere
            </h1>
            <div class="breadcrumbs">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
                <a href="#">Studio</a> /
                <a asp-area="" asp-controller="Home" asp-action="Portfolio">Portfolio</a> /
                <span class="color-1">Echosphere</span>
            </div>
        </div>
    </div>
</section>
<!-- PAGE NAME END -->
<!-- SECTION START -->
<section class="ptb150">
    <div class="container">
        <div class="row">
            <div class="top-bl">
                <div class="game-img-slider bg-arrow">
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/echosphere/l-1.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/echosphere/small-l-1.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/echosphere/l-2.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/echosphere/small-l-2.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/echosphere/l-3.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/echosphere/small-l-3.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/echosphere/l-4.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/echosphere/small-l-4.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/echosphere/l-5.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/echosphere/small-l-5.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/echosphere/l-6.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/echosphere/small-l-6.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/echosphere/l-7.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/echosphere/small-l-7.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/echosphere/l-8.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/echosphere/small-l-8.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/echosphere/l-9.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/echosphere/small-l-9.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/echosphere/l-10.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/echosphere/small-l-10.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/echosphere/l-11.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/echosphere/small-l-11.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-wrapper">
                        <a href="~/images/portfolio/echosphere/l-12.jpg" data-lightbox="game-slides">
                            <img src="~/images/portfolio/echosphere/small-l-12.jpg" alt="" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt80">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb30">
                <div class="tab-head table uppercase fsize-14 fweight-700">
                    <div class="table-cell valign-middle ws-20 color-1">
                        VR Audio Visualization
                    </div>
                    <div class="table-cell valign-middle text-right">
                        Unreleased
                    </div>
                </div>
                <br />
                <div class="image-wrapper">
                    <img src="~/images/logos/echosphere.png" alt="" class="img-responsive center-block">
                </div>
                <div class="mt50 lheight-26 fweight-300">
                    <p>
                        Echosphere is an audio visualization experience for virtual reality, putting you in control of sound like never before.
                        Through immersive graphical displays and advanced motion tracking, we’re offering an all new way to interact with music that is unlike any experience before it.
                    </p>
                    <p>
                        Echosphere is built with Unreal Engine 4 and designed exclusively for virtual reality.
                        Echosphere supports Oculus Rift, HTC Vive, and OSVR devices.
                    </p>
                    <p>
                        Featuring music from my good friend, local Atlanta artist Shiny Baubles!
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb30">
                <div class="default-tabs">
                    <div class="image-bl">
                        <video id="echosphere" class="vjs-big-play-centered video-js vjs-default-skin vjs-16-9 game-full-img" controls preload="auto" width="570" height="450" poster="~/images/about/theycome.jpg"
                               data-setup='{ "techOrder": ["youtube"], "sources": { "type": "video/youtube", "src": "https://www.youtube.com/watch?v=yeXrftHfo-s"}}'></video>
                    </div>
                </div>
            </div>
            <div class="widget-wrapper">
                <br />
                <table class="table list-1">
                    <tbody>
                        <tr>
                            <td>
                                <div class="table table-nobackground">
                                    <div class="table-row">
                                        <div class="latest-title table-cell valign-middle text-center pl20">
                                            <div class="title-top font-agency fweight-700 uppercase color-white">
                                                <i class="fa fa-volume-up fsize-80 fweight-400 color-6"></i>
                                                <p>Audio Visualization</p>
                                            </div>
                                            <p>We harness the power of Unreal Engine 4 to parse streaming audio for frequency and amplitude, using that information to change the world around you. Shapes and colors generated by sound, a full synesthetic experience. </p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="table table-nobackground">
                                    <div class="table-row">
                                        <div class="latest-title table-cell valign-middle text-center pl20">
                                            <div class="title-top font-agency fweight-700 uppercase color-white">
                                                <i class="fa fa-music fsize-80 fweight-400 color-6"></i>
                                                <p>Choose Your Sound</p>
                                            </div>
                                            <p>Echosphere comes pre-loaded with 13 tracks of powerful electronic music from Shiny Baubles, a local Atlanta artist. Not a fan of his Bauble Wobble? Load up to 20 of your own tracks and experience Echosphere in your own way. </p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="table table-nobackground">
                                    <div class="table-row">
                                        <div class="latest-title table-cell valign-middle text-center pl20">
                                            <div class="title-top font-agency fweight-700 uppercase color-white">
                                                <i class="fa fa-eye fsize-80 fweight-400 color-6"></i>
                                                <p>Virtual Reality</p>
                                            </div>
                                            <p>An experience designed exclusively for motion controlled virtual reality. Echosphere provides a way of interacting with sound like nothing else before it. For use with Oculus Rift, HTC Vive, and OSVR devices. </p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 st-tabs tabs mt70">
                <div class="tabs-nav">
                    <ul class="list-inline nav nav-tabs">
                        <li class="active col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <a href="#stream-2" data-toggle="tab">
                                <div class="tab-title">
                                    Echosphere YouTube Playlist
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content stream-bl relative">
                    <div class="tab-pane fade active in competition text-left clearfix" id="stream-2">
                        <div class="left-col col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="video-bl equal-height">
                                <video id="LatestVideo" class="vjs-big-play-centered video-js vjs-default-skin vjs-16-9 game-full-img" controls preload="auto"
                                       data-setup='{ "techOrder": ["youtube"], "sources": { "type": "video/youtube", "src": "@ViewBag.ShowcaseVideo.VideoWatchLink"}}'></video>
                                <div class="video-bottom">
                                    <div class="video-title">
                                        @ViewBag.ShowcaseVideo.Title
                                    </div>
                                    <div class="mt15">
                                        <div class="inline-block valign-middle color-white ml15">
                                            @ViewBag.ShowcaseVideo.ViewCount views
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-col col-lg-6 col-md-6 col-sm-12 col-xs-12 equal-height">
                            @foreach (var video in ViewBag.EchospherePlaylist)
                            {
                                <div class="item-g">
                                    <div class="img-com inline-block valign-middle equal-height">
                                        <img src="@video.ImageUrl" alt="" height="80" width="80">
                                    </div>
                                    <div class="info-bl inline-block valign-middle ml25">
                                        <div class="fsize-24 fweight-700 font-agency uppercase color-white" data-trim="35">@video.Title</div>
                                        <div>@video.ViewCount views</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SECTION END -->